.meals-container{
    display: inline-block;
    width: 100%;
    align-items: center;
 padding-left: 20px


}
.meals-price-container{
    color:rgb(227, 47, 47);
    font-size: 1.25rem;

}
.meals-amount-container{
    font-size: 1rem;
    font-weight: bold;
    color: black;
    border-radius: 12px;
   
}
input {
    margin-left: 20px;
}
.meals-button{
    background-color:  rgb(247, 191, 60);
    width: 60px;
    height: 30px;
    text-align: center;
    margin-top: 10px;


  
    

}